host=10.100.9.54
port=25
replyto=ariinvoice@atriumwindows.com
replytoname=Atrium Invoice
bccbox=ariinvoice@atriumwindows.com
bccbox2=nni@atriumwindows.com

#format hh:mm:ss   (24-hour clock)
jobtime=03:00:00