
/*CONTAINER DISPLAY*/
.container {
    width: 800px;
}


/*MODIFY BOOTSTRAP TABLE*/
/*REMOVE BOOTSTRAP ROW LINES*/
.table th, .table td {
    border-top: none !important;
}

/*TABLE BOTTOM MARGIN*/
.table{
    margin: 0px;
}



/*HEADER LINE*/
/*ATRIUM LOGO TD WIDTH*/
.td.logo {
    width: 21%;
}

/*REMIT TD WIDTH*/
.td.remit {
    width: 21%;
}

/*INVOICE WIDTH*/
.td.invoice {
    width: auto;
}





/*1 REMIT*/
/*REMIT HEAD*/
.div.remit.head {
    text-align: center;
    font-size: medium;
    font-weight: bold;
}

/*REMIT TEXT*/
.div.remit.text {
    text-align: center;
    font-size: x-small;
}




/*2 INVOICE*/
/*RIGHT CONER INVOICE*/
.div.invoice.head{
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
}

/*INVOICE TABLE HEADER*/
.div.invoice.tableheader{
    font-size: x-small;
    font-weight: bold;
    padding-top: 4px;
    text-align: left;
}

/*INVOICE TABLE CONTEXT BODY*/
.div.invoice.tablebody{
    font-size: medium;
    padding: 8px;
    text-align: left;
}





/*3 ADDRESS*/
/*"TO" AND "SHIP TO" TAGS*/
.span.shiptag {
    border-style: solid;
    border-width: 1px;
    font-size: x-small;
    font-weight: bold;
    margin-left: 6px;
}

/*"TO" AND "SHIP TO", JOB NAME, CUSTOMER NUMBER BODY TD*/
.td.body1{
    padding: 5px;
}

/*"TO" AND "SHIP TO", JOB NAME, CUSTOMER NUMBER BODY DIV*/
.div.body1{
    font-size: small;
    margin: 0px;
}

/*0 PADDING*/
.td.zeropadding{
    padding: 0px;
}




/*4 MID HEADER*/


/*MID TABLE MAKE BORDER SOLID*/
.table-mybordered {
    border: solid;
    border-width: 1px;
}

/*MAIN TABLE HEADER*/
.div.tableheader{
    font-size: x-small;
    font-weight: bold;
    text-align: left;
    padding-top:4px;
    padding-left:4px;
    padding-right:4px;
}

/*MAIN TABLE BODY*/
.div.tablebody {
    font-size: small;
    text-align: left;
    padding: 4px;
}

/*FOR INQUIRIES*/
.div.tablebody.inquiries {
    text-align: left;
    font-weight: bolder;
    font-size: x-small;
    padding-left: 4px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}





/*LINE TABLE*/
/*LINE TABLE BORDER*/
.table-linetable {
    border: solid;
    border-width: 1px;
}


/*LINE TABLE TH*/
.table-linetable td.head {
    font-size: xx-small;
    font-weight: bold;
}
/*LINE TABLE HEADER DIVIDE*/
.table-linetable tr.divide {
    border-bottom: solid;
    border-width: 1px;

}

/*LINE TABLE TD*/
.table-linetable td{
    font-size: x-small;
}





